* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

*:focus {
  outline: 1px solid gold;
}

html, body {
  height: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.wrap {
  background-color: #abc;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap .header {
  background-color: #cba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrap .header__entitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 100%;
}

.wrap .header__entitle .header__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.wrap .header__entitle .header__link .header__logo {
  width: 120px;
  height: 80px;
}

.wrap .header .nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100px;
}

.wrap .header .nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.wrap .header .nav__list .nav__item {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrap .header .nav__list .nav__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2.5px;
  background-color: #000;
  top: 75%;
  -webkit-transition: .25s;
  transition: .25s;
}

.wrap .header .nav__list .nav__item:hover::before {
  width: 90%;
}

.wrap .header .nav__list .nav__item.active::before {
  width: 60%;
}

.wrap .header .nav__list .nav__item .nav__link {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .main .article {
  overflow: hidden;
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.wrap .main .article__section {
  background-color: #cba;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

.wrap .main .article__section .form__container {
  width: 75%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrap .main .article__section .form__container .article__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  background-color: #0077b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
}

.wrap .main .article__section .form__container .article__form .form__header {
  width: 100%;
  height: 20%;
}

.wrap .main .article__section .form__container .article__form label {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .main .article__section .form__container .article__form input {
  width: 60%;
  height: 7.5%;
  text-align: center;
  font-size: 20px;
  background-color: #0077b5;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
}

.wrap .main .article__section .form__container .article__form input:focus, .wrap .main .article__section .form__container .article__form input:invalid {
  outline: none;
}

.wrap .main .article__section .form__container .article__buttons {
  background-color: #3b5998;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .main .article__section .form__container .article__buttons .article__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 100px;
  font-size: 30px;
  border: 3px solid #000;
}

.wrap .main .article__section .form__container .article__buttons .article__button:first-of-type {
  background-color: #4caf50;
  cursor: pointer;
}

.wrap .main .article__section .form__container .article__buttons .article__button:last-of-type {
  background-color: #0077b5;
  cursor: pointer;
}

.wrap .main .article__section .form__container .article__buttons .article__button:active {
  color: #fff;
}

.wrap .main .article__section .form__container .article__buttons .article__button .article__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .main .article__section#log, .wrap .main .article__section#reg {
  font-size: 150%;
}

.wrap .main .article__section .tiles {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrap .main .article__section .tiles #upform #update_form {
  width: 500px;
  background-color: #3b5998;
  margin-left: -40%;
  padding: 25px;
}

.wrap .main .article__section .tiles #upform #update_form label {
  display: inline-block;
  width: 200px;
  color: #ccc;
}

.wrap .main .article__section .tiles .tiles__tile, .wrap .main .article__section .tiles .btn {
  width: 47.5%;
  height: 40%;
  background-color: #3b5998;
  color: #ccc;
  text-align: justify;
}

.wrap .main .article__section .tiles .tiles__tile .tiles__entitle, .wrap .main .article__section .tiles .tiles__tile .btn, .wrap .main .article__section .tiles .btn .tiles__entitle, .wrap .main .article__section .tiles .btn .btn {
  font-size: 30px;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.wrap .main .article__section .tiles .tiles__tile .tiles__entitle .tiles__link, .wrap .main .article__section .tiles .tiles__tile .tiles__entitle .btn, .wrap .main .article__section .tiles .tiles__tile .btn .tiles__link, .wrap .main .article__section .tiles .tiles__tile .btn .btn, .wrap .main .article__section .tiles .btn .tiles__entitle .tiles__link, .wrap .main .article__section .tiles .btn .tiles__entitle .btn, .wrap .main .article__section .tiles .btn .btn .tiles__link, .wrap .main .article__section .tiles .btn .btn .btn {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.wrap .main .article__section .tiles .tiles__tile .tiles__entitle .tiles__link:hover, .wrap .main .article__section .tiles .tiles__tile .tiles__entitle .btn:hover, .wrap .main .article__section .tiles .tiles__tile .btn .tiles__link:hover, .wrap .main .article__section .tiles .tiles__tile .btn .btn:hover, .wrap .main .article__section .tiles .btn .tiles__entitle .tiles__link:hover, .wrap .main .article__section .tiles .btn .tiles__entitle .btn:hover, .wrap .main .article__section .tiles .btn .btn .tiles__link:hover, .wrap .main .article__section .tiles .btn .btn .btn:hover {
  font-size: 110%;
}

.wrap .main .article__section .tiles .tiles__tile .tiles__entitle .tiles__link:hover img, .wrap .main .article__section .tiles .tiles__tile .tiles__entitle .btn:hover img, .wrap .main .article__section .tiles .tiles__tile .btn .tiles__link:hover img, .wrap .main .article__section .tiles .tiles__tile .btn .btn:hover img, .wrap .main .article__section .tiles .btn .tiles__entitle .tiles__link:hover img, .wrap .main .article__section .tiles .btn .tiles__entitle .btn:hover img, .wrap .main .article__section .tiles .btn .btn .tiles__link:hover img, .wrap .main .article__section .tiles .btn .btn .btn:hover img {
  width: 80px;
  height: 55px;
}

.wrap .main .article__section .tiles .tiles__tile .tiles__entitle .tiles__link img, .wrap .main .article__section .tiles .tiles__tile .tiles__entitle .btn img, .wrap .main .article__section .tiles .tiles__tile .btn .tiles__link img, .wrap .main .article__section .tiles .tiles__tile .btn .btn img, .wrap .main .article__section .tiles .btn .tiles__entitle .tiles__link img, .wrap .main .article__section .tiles .btn .tiles__entitle .btn img, .wrap .main .article__section .tiles .btn .btn .tiles__link img, .wrap .main .article__section .tiles .btn .btn .btn img {
  width: 75px;
  height: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrap .main .article__section .courses {
  width: 100%;
  background-color: #999;
}

.wrap .main .article__section .courses__course .course__entitle {
  width: 100%;
  text-align: center;
  margin-bottom: -30px;
}

.wrap .main .article__section .courses__course .course__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap .main .article__section .courses__course .course__content .arrows {
  position: absolute;
  height: 350px;
  width: 500px;
}

.wrap .main .article__section .courses__course .course__content a.control_prev, .wrap .main .article__section .courses__course .course__content a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 30px 20px;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

.wrap .main .article__section .courses__course .course__content a.control_next {
  right: 0;
}

.wrap .main .article__section .courses__course .course__content a.control_prev:hover, .wrap .main .article__section .courses__course .course__content a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.wrap .main .article__section .courses__course .course__content #slider1, .wrap .main .article__section .courses__course .course__content #slider2 {
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 300px;
}

.wrap .main .article__section .courses__course .course__content #slider1 ul, .wrap .main .article__section .courses__course .course__content #slider2 ul {
  overflow: hidden;
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-top: 75px;
  position: relative;
}

.wrap .main .article__section .courses__course .course__content #slider1 ul li, .wrap .main .article__section .courses__course .course__content #slider2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  height: 70%;
  width: 100%;
}

.wrap .main .article__section .courses__course .course__content #slider1 ul li img, .wrap .main .article__section .courses__course .course__content #slider2 ul li img {
  width: 75px;
  height: 50px;
}

.wrap .main .article__section .courses__course .course__content #slider1 ul li span, .wrap .main .article__section .courses__course .course__content #slider2 ul li span {
  display: none;
}

.wrap .main .article__section .courses__course .course__content #slider1 form, .wrap .main .article__section .courses__course .course__content #slider2 form {
  overflow: hidden;
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-top: 75px;
  position: relative;
}

.wrap .main .article__section .courses__course .course__content #slider1 form input, .wrap .main .article__section .courses__course .course__content #slider2 form input {
  text-align: center;
  font-size: 2em;
  height: 70%;
  width: 100%;
  display: inline-block;
  outline: none;
  border: none;
}

.wrap .main .article__section .courses__course .course__content #slider1 form input:disabled, .wrap .main .article__section .courses__course .course__content #slider2 form input:disabled {
  color: inherit;
}

.wrap .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  background-color: #cba;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrap .footer__copyright {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .footer__copyright .fa-heart {
  color: crimson;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrap .footer__copyright .fa-heart:hover {
  font-size: 150%;
}

.wrap .footer__socials {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.wrap .footer__socials .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrap .footer__socials .footer__link:first-of-type:hover {
  background-color: #ea4335;
  color: #fff;
}

.wrap .footer__socials .footer__link:nth-of-type(2):hover {
  background-color: #3b5998;
  color: #fff;
}

.wrap .footer__socials .footer__link:nth-of-type(3):hover {
  background-color: #0077b5;
  color: #fff;
}

.wrap .footer__socials .footer__link:last-of-type:hover {
  background-color: #6e5494;
  color: #fff;
}

.wrap .footer__socials .footer__link:hover {
  font-size: 125%;
}

@media screen and (max-width: 1550px) {
  body .wrap .main .article__section .form__container {
    height: 105%;
  }
  body .wrap .main .article__section .form__container .article__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1400px) {
  body .wrap .main .article__section .form__container {
    height: 120%;
  }
}

@media screen and (max-width: 1120px) {
  body .wrap .main .article__section .form__container .article__form {
    padding: 5px;
  }
}

@media screen and (max-width: 800px) {
  body .wrap .main .article__section .form__container {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  body .wrap .header__entitle {
    display: none;
  }
  body .wrap .main .article__section {
    overflow: auto;
  }
  body .wrap .main .article__section .form__container .article__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
}
