* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;

  &:focus {
    outline: 1px solid gold;
  }
}

html, body {
  height: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.wrap {
  background-color: #abc;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    background-color: #cba;
    display: flex;
    flex-basis: 100px;
    user-select: none;

    &__entitle {
      display: flex;
      width: 10%;
      height: 100%;

      .header__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;

        .header__logo {
          width: 120px;
          height: 80px;
        }
      }
    }

    .nav {
      flex-grow: 1;
      height: 100px;
      
      &__list {
        list-style-type: none;
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;

        .nav__item {
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 2.5px;
            background-color: #000;
            top: 75%;
            transition: .25s;

          }

          &:hover::before {
            width: 90%;
          }

          &.active::before {
            width: 60%;
          }

          .nav__link {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

          }
        }
      }
    }
  }

  .main {
    flex-grow: 1;
    display: flex;
    padding: 50px;
    justify-content: center;
    
    .article {
      // background-color: #9e3;
      overflow: hidden;
      width: 100%;
      height: 650px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      scroll-snap-type: y mandatory;
      
      &__section {
        background-color: #cba;
        flex-basis: 100%;
        height: 100%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        
        .form__container {
          // background-color: goldenrod;
          width: 75%;
          height: 75%;
          display: flex;
          justify-content: space-evenly;
          
          
          .article__form {
            flex: 0 1 60%;
            background-color: #0077b5;
            display: flex;
            padding: 10px;
            flex-flow: row wrap;
            align-items: flex-start;
            color: #ffffff;

            &#addWord {
              height: 80%;
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 10%;

              img {
                width: 75px;
                height: 50px;
              }

              label {
                margin-top: 25px;
              }
              
              #addW {
                cursor: pointer;
                margin-top: 25px;
                border-bottom: 0;
                background-color: #999;
              }
            }

            .form__header {
              width: 100%;
              height: 20%;
            }

            label {
              width: 40%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }

            input {
              width: 60%;
              height: 7.5%;
              // margin: auto 0;
              text-align: center;
              font-size: 20px;
              background-color: #0077b5;
              color: #fff;
              border: 0;
              border-bottom: 2px solid #fff;
              // background-color: #bbb;
              
              &:focus, &:invalid {
                outline: none;
              }
            }
          }

          .article__buttons {
            background-color: #3b5998;
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .article__button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 200px;
              height: 100px;
              font-size: 30px;
              border: 3px solid #000;

              &:first-of-type {
                background-color: #4caf50;
                cursor: pointer;
              }
              
              &:last-of-type {
                background-color: #0077b5;
                cursor: pointer;
              }

              &:active {
                color: #fff;
              }

              .article__link {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }

        &#log, &#reg {
          font-size: 150%;
        }
        .tiles {
          width: 80%;
          height: 100%;
          display: flex;
          flex-flow: row wrap;
          // background-color: #fff;
          justify-content: space-evenly;

          #upform {
            #update_form {
              width: 500px;
              // border: 1px solid;
              background-color: #3b5998;
              padding: 25px;
              label {
                display: inline-block;
                width: 200px;
                color: #ccc;
              }
            }
          }
          .tiles__tile, .btn {
            width: 47.5%;
            height: 40%;
            background-color: #3b5998;
            // padding: 20px;
            color: #ccc;
            text-align: justify;

            .tiles__entitle, .btn {
              font-size: 30px;
              // background-color: #fff;
              width: 100%;
              height: 100%;
              border: none;
              cursor: pointer;
              
              .tiles__link, .btn {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                transition: .5s;
                // background-color: #fff;
                text-align: center;
                
                &:hover {
                  font-size: 110%;

                  img {
                    width: 80px;
                    height: 55px;
                  }
                }

                img {
                  width: 75px;
                  height: 50px;
                  transition: .5s;
                }
              }
            }
          }
        }
        .courses {
          width: 100%;
          // background-color: #999;
          &__course {
            .course__entitle {
              width: 100%;
              text-align: center;
              margin-bottom: -30px;
            }
            .course__content {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              .arrows {
                position: absolute;
                height: 350px;
                width: 500px;
                // border: 1px solid;
              }

              a.control_prev, a.control_next {
                position: absolute;
                top: 40%;
                z-index: 999;
                display: block;
                padding: 30px 20px;
                width: auto;
                height: auto;
                background: #2a2a2a;
                color: #fff;
                text-decoration: none;
                font-weight: 600;
                font-size: 18px;
                opacity: 0.8;
                cursor: pointer;
              }
              a.control_next {
                right: 0;
              }
              a.control_prev:hover, a.control_next:hover {
                opacity: 1;
                transition: all 0.2s ease;
              }
              
              #slider1, #slider2 {
                background-repeat: no-repeat ;
                position: relative;
                overflow: hidden;
                // border: 1px solid;
                height: 300px;
                ul {
                  overflow: hidden;
                  width: 500px;
                  height: 100%;
                  display: flex;
                  flex-flow: column wrap;
                  padding-top: 75px;
                  position: relative;
                  // border: 1px solid;

                  li {
                    // border: 1px solid;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-size: 2em;
                    height: 70%;
                    width: 100%;

                    img {
                      width: 75px;
                      height: 50px;
                    }

                    span {
                      display: none;
                    }
                  }
                }
                form {
                  overflow: hidden;
                  width: 500px;
                  height: 100%;
                  display: flex;
                  flex-flow: column wrap;
                  padding-top: 75px;
                  position: relative;

                  input {
                    text-align: center;
                    font-size: 2em;
                    height: 70%;
                    width: 100%;
                    display: inline-block;
                    outline: none;
                    border: none;

                    &:disabled {
                      color: inherit;
                    }
                  }
                }
              }
            }
          }
        }
        .users {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .table {
            background-color: #abc;
            height: 100%;
            width: 75vw;
            border-collapse: collapse;
            tr, th, td {
              border: 2px solid black;
              padding: 2.5px;
              text-align: center;
            }
            th {
              background-color: #ababab;
              height: 50px;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    flex-basis: 50px;
    background-color: #cba;
    user-select: none;

    &__copyright {
      flex-basis: 75%;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa-heart {
        color: crimson;
        transition: .5s;

        &:hover {
          font-size: 150%;
        }
      }
    }

    &__socials {
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 32px;

      .footer__link {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: .3s;

        &:first-of-type:hover {
          background-color: #ea4335;
          color: #fff;
        }

        &:nth-of-type(2):hover {
          background-color: #3b5998;
          color: #fff;
        }

        &:nth-of-type(3):hover {
          background-color: #0077b5;
          color: #fff;
        }

        &:last-of-type:hover {
          background-color: #6e5494;
          color: #fff;
        }

        &:hover {
          font-size: 125%;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  body {
    .wrap {
      .main { 
        .article__section { 
          .form__container {
            height: 105%;
            .article__form {
              flex-flow: column nowrap;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  body {
    .wrap {
      .main { 
        .article__section { 
          .form__container {
            height: 120%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1120px) {
  body {
    .wrap {
      .main { 
        .article__section { 
          .form__container {
            .article__form {
              // flex-flow: column nowrap;
              // align-items: center;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  body {
    .wrap {
      .main { 
        .article__section { 
          .form__container {
            width: 100%;
            // .article__form {
            //   flex-flow: column nowrap;
            //   align-items: center;
            // }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  body {
    .wrap {
      .header__entitle {
            display: none;
          }
      .main { 
        .article__section {
          overflow: auto; 
          .form__container {
            .article__form {
              flex: 0 1 75%;
            }
          }
        }
      }
    }
  }
}